<div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><a href="/users/13529">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWFWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--daaaa20efcc8ed5fa9b6ea7175b8d3cdf009f620/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10104" href="/books/10104">lkjnhik</a></td>
        <td>nbgyuikj</td>
      </tr>
      <tr>
        <td><a href="/users/13530">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWlWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--bcdfa864a58d91bf0e621e679049b9ce380f5bf7/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10105" href="/books/10105">a</a></td>
        <td>a</td>
      </tr>
      <tr>
        <td><a href="/users/13529">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWFWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--daaaa20efcc8ed5fa9b6ea7175b8d3cdf009f620/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10106" href="/books/10106">n vgyuj</a></td>
        <td>bvfgtyuj</td>
      </tr>
      <tr>
        <td><a href="/users/13535">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBanFWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4d59023845d07549a29755854ac625c13febf039/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10107" href="/books/10107">a</a></td>
        <td>aaaa</td>
      </tr>
      <tr>
        <td><a href="/users/13535">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBanFWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4d59023845d07549a29755854ac625c13febf039/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10108" href="/books/10108">aaa</a></td>
        <td>aaaaa</td>
      </tr>
      <tr>
        <td><a href="/users/13534">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBamlWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--395a0ff6315876810c45082239a1623863eec089/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10109" href="/books/10109">test</a></td>
        <td>test</td>
      </tr>
      <tr>
        <td><a href="/users/13540">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaytWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b6adec7599a592a8e28c4f8b4931041ea4ca7176/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10110" href="/books/10110">test</a></td>
        <td>test</td>
      </tr>
      <tr>
        <td><a href="/users/13540">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaytWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b6adec7599a592a8e28c4f8b4931041ea4ca7176/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10111" href="/books/10111">test2</a></td>
        <td>test2</td>
      </tr>
      <tr>
        <td><a href="/users/13540">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaytWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b6adec7599a592a8e28c4f8b4931041ea4ca7176/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10112" href="/books/10112">test3</a></td>
        <td>test3</td>
      </tr>
      <tr>
        <td><a href="/users/13526">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaXFWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--97fc61b71ed722361fc59810a1d6eeb6946f2fa4/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10101" href="/books/10101">リーダブルコード</a></td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック。</td>
      </tr>
      <tr>
        <td><a href="/users/13527">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaXlWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4435761a4c3e788cfb6a1e312a3ba2094ce414d7/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10102" href="/books/10102">トラブル知らずのシステム設計</a></td>
        <td>システム設計の要点を図解で説明してくれます。</td>
      </tr>
      <tr>
        <td><a href="/users/13528">
          <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaTZWIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--531518bd6c8b84f1f7081bbc698f7daea6805dc6/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg">
</a>        </td>
        <td><a class="book_10103" href="/books/10103">たのしいRuby</a></td>
        <td>Rubyの入門におすすめです。</td>
      </tr>
  </tbody>
</table>
    </div>